@import './style/navbar.css';
@import './style/productunggulan.css';
@import './style/navigation.css';
@import './style/product.css';
@import './style/whycooseus.css';
@import './style/konsultasi.css';
@import './style/herosection.css';

* {
  padding: 0;
  margin: 0;
}

main {
  padding-top: 60px; /* Sesuaikan dengan tinggi navbar */
}

html {
  scroll-behavior: smooth;
}
